 /**/

body
{
	background-color: #232323;
}
.container-fluid
{
	padding: 1% 10%;
}

h1
{
	color: #39a6a3;
	font-size: 2.5rem;
	/*text-align: center;*/
	padding-top: 5%;
}
.intro-para
{
	color: #39a6a3;
	font-size: 3.5rem;
	font-weight: bold;
}

.navbar
{
	padding: 0 0 2.5rem;
}


.navbar-brand
{
	font-size: 2.5rem;
	/*font-weight: bold;*/
}

.nav-item
{
	padding: 0 18px;
}

/*.intro-para
{
	text-align: center;
}*/

.intro
{
	padding-bottom: 25px;
}

.col-md-12
{
	align-content: center;
}

#about-me
{
	padding: 1.5% 10%;
	/*background-color: #39a6a3;*/
}

.about
{
	text-align: center;
	padding: 1.5%;
	color: #39a6a3;
}

hr
{
	/*#b2b8a3*/
	border-color: #fff ;
	border-style: none;
	border-top-style: dotted;
	border-width: 5px;
	width: 5%;
}

h3
{
	color: 39a6a3;
}

.emps
{
	padding: 0;
}

.dev-icon
{
	color: #fff;
}
#skills
{
	text-align: center;
}

.card-deck
{
	padding: 1.5% 10%;
}

.skill-card
{
	background-color: #39a6a3;
}

/*------------------Connect section css------------------*/

.form-group, .form-row
{
	padding: 1.5% 10%;
}

.form-group
{
	margin-bottom: 0;
}
.sendBtn
{
	padding: 1.5% 10%;
	text-align: center;
}

.btn
{
	background: #39a6a3;
	color: #fff;
}

.btn:hover
{
	background: #fff;
	border-color: #39a6a3;
	border-width: 1.5px;
	color: #39a6a3;
}

.btn:visited
{
	background: #39a6a3;
	color: #fff;
}

input:placeholder-shown + label {
  opacity:0;
  transform: translateY(100%);
}

textarea:placeholder-shown + label {
  opacity:0;
  transform: translateY(100%);
}

input, textarea
{
  background: #232323;
  color: #fff;
  width: 100%;
  padding:5px;
  margin:20px 0;
  border:1.5px solid #fff;
  border-radius: 0.25rem;
  transition: all 0.5s;
  font-size:15px;
}

input + label
{
  border:1px solid #fff;
  position: absolute;
  top:0;
  left: 20px;
  transition: all 0.3s;
  opacity:1;
  background:#232323;
  color: #fff;
  border:2px solid;
  border-width: 0 1.5px 0 1.5px;
  padding:0 5px;
  transform: translateY(calc(50% + 5px));
}

textarea + label 
{
  border:1px solid #fff;
  position: absolute;
  left: 145px;
  transition: all 0.3s;
  opacity:1;
  background:#232323;
  color: #fff;
  border:2px solid;
  border-width: 0 1.5px 0 1.5px;
  padding:0 5px;
  transform: translateY(calc(6%));
}


input:focus {
  outline:0;
  border-color:#39a6a3;
}

input:focus + label {
  border-color:#39a6a3;
}

textarea:focus {
  outline:0;
  border-color:#39a6a3;
}

textarea:focus + label {
  border-color:#39a6a3;
}

