/*#1A1A2E,#16213E,#0F3460,#E94560*/

/*body
{
	background-color: #232323;
}*/
html
{
  scroll-behavior: smooth;
}

#title
{
	background-color: #232323;
}

.container-fluid
{
	padding: 1% 10%;
}

/*#title
{
	background-color: #1A1A2E ;
}*/

h1
{
	color: #39a6a3;
	font-size: 2.5rem;
	/*text-align: center;*/
	padding-top: 8%;
	animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.intro-para
{
	color: #39a6a3;
	font-size: 3.5rem;
	font-weight: bold;
	padding-bottom: 17%;
	animation-delay: 2s;
	animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-left: 100%;
    width: 200%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
    width: 100%;
  }
}

.navbar
{
	padding: 0 0 2.5rem;
}


.navbar-brand
{
	font-size: 2.5rem;
	/*font-weight: bold;*/
}

.nav-item
{
	padding: 0 18px;
}

/*.intro-para
{
	text-align: center;
}*/

.intro
{
	padding-bottom: 25px;
}

.col-md-12
{
	align-content: center;
}

#about-me
{
	padding: 1.5% 10%;
	background-color: #2B2B2B;
}

.about
{
	text-align: center;
	padding: 1.5%;
	color: #39a6a3;
}

hr
{
	/*#b2b8a3*/
	border-color: #fff ;
	border-style: none;
	border-top-style: dotted;
	border-width: 5px;
	width: 5%;
}

h3
{
	color: #39a6a3;
}

.emps
{
	padding: 0;
}

.dev-icon
{
	color: #fff;
}

#skills
{
	text-align: center;
	background-color: #343434;
}

.card-deck
{
	padding: 1.5% 10%;
}

.skill-card
{
	background-color: #343434;
	border:1.5px solid #39a6a3;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.cardText
{
	color: #39a6a3 !important;
}

.database
{
	padding-top: 4rem;
}
/*------------------Connect section css------------------*/

#connect
{
	background-color: #232323;
}

.form-group, .form-row
{
	padding: 1.5% 10%;
}

.form-group
{
	margin-bottom: 0;
}
.sendBtn
{
	padding: 1.5% 10%;
	text-align: center;
}

.send
{
	background: #39a6a3;
	color: #fff;
}

.send:hover
{
	background: #fff;
	border-color: #39a6a3;
	border-width: 1.5px;
	color: #39a6a3;
}

.send:visited
{
	background: #39a6a3;
	color: #fff;
}

input:placeholder-shown + label {
  opacity:0;
  transform: translateY(100%);
}

textarea:placeholder-shown + label {
  opacity:0;
  transform: translateY(100%);
}

input, textarea
{
  background: #232323;
  color: #fff;
  width: 100%;
  padding:5px;
  margin:20px 0;
  border:1.5px solid #fff;
  border-radius: 0.25rem;
  transition: all 0.5s;
  font-size:15px;
}

input + label
{
  border:1px solid #fff;
  position: absolute;
  top:0;
  left: 20px;
  transition: all 0.3s;
  opacity:1;
  background:#232323;
  color: #fff;
  border:2px solid;
  border-width: 0 1.5px 0 1.5px;
  padding:0 5px;
  transform: translateY(calc(50% + 3px));
}

textarea + label 
{
  border:1px solid #fff;
  position: absolute;
  left: 145px;
  transition: all 0.3s;
  opacity:1;
  background:#232323;
  color: #fff;
  border:2px solid;
  border-width: 0 1.5px 0 1.5px;
  padding:0 5px;
  transform: translateY(calc(6%));
}


input:focus {
  outline:0;
  border-color:#39a6a3;
}

input:focus + label {
  border-color:#39a6a3;
}

textarea:focus {
  outline:0;
  border-color:#39a6a3;
}

textarea:focus + label {
  border-color:#39a6a3;
}

#status
{
	color: #fff;
	width: 90%;
	max-width: 500px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border-radius: 0.25rem;
}

#status.success
{
	background-color: #39a6a3;
	animation: status 4s ease forwards;
}

#status.error
{
	background-color: #DF5E5E;
	animation: status 4s ease forwards;
}

@Keyframes status
{
	0%
	{
		opacity: 1;
		pointer-events: all;
	}
	90%
	{
		opacity: 1;
		pointer-events: all;
	}
	100%
	{
		opacity: 0;
		pointer-events: none;
	}
}

#footer
{
	background-color: #393E46;
}

.footerItmes
{
	padding: 0 2%;
}

.socials
{
	color: #39a6a3;
}

.socials:hover, .socials:visited
{
	color: #39a6a3;
}

.copy
{
	padding-top: 18px;
}

small
{
	color: #7E7474;
}